* {
    text-align: center;
    transition-duration: 0.5s;
}

div.block div {
    height: calc(100% - 1em - 38px);
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

a {
    color: black;
}

a:hover {
    color: lawngreen;
}

ul {
    list-style-type: none;
    padding: 0;
}

div.main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.block {
    border: 10px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: black;
}

div.block h2 {
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    height: 1em;
}

div.block div {
    margin: 0;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
}

span.note {
    color: black;
    font-size: small;
}

div.popup {
    display: none;
    margin: 10%;
    border: 10px solid black;
    border-top-width: 50px;
    border-radius: 15px;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition-duration: 0s;
}

div.popup > p {
    margin: 0;
    border-radius: 10px;
    background-color: white;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

button.x {
    position: absolute;
    top: -30px;
    right: 10px;
    border: 0;
    border-radius: 3px;
    background-color: white;
    color: black;
    cursor: pointer;
}

button.x:hover {
    background-color: black;
    color: white;
}