* {
    text-align: center;
    transition-duration: 0.5s;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

div {
    border: 10px solid gray;
    border-radius: 10px;
}

div h2 {
    margin: 0;
    padding-bottom: 10px;
    background-color: gray;
}

div ul {
    margin: 0;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 0 3px gray;
    outline: 3px solid gray;
    list-style-type: none;
}

span.note {
    color: gray;
    font-size: small;
}